.container {
  display: grid;
  gap: 16px;
}

.skills {
  display: grid;
  column-gap: 42px;
  row-gap: 16px;
}

@media screen and (min-width: 600px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .skills {
    grid-template-columns: repeat(4, 1fr);
  }
}